:root {
    --dark-green: #0F1E23;
    --soft-green: #173035;
    --bright-green: #E1F6E9;
    --mint-green: #00C887;

    --md-primary-fg-color: var(--soft-green);
    --md-accent-fg-color: var(--mint-green);
}
