name: Docs

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout QoolQit
      uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install QoolQit with development dependencies
      run: |
        pip install -e .[dev]
    - name: Build docs
      run: |
        mkdocs build --clean --strict
